html{
    background-color: #3C5B6F;
}
.container-header, 
.container-body, 
.container-contatos, .container-sobre, .container-projetos,
.container-footer{
    border-radius: 3px;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 3px;
    padding: 0;
}
a:visited {
    color: #0000FF;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
    .container-header{
        background-color: transparent;
        padding: 15px;
    }
        .header-links{
            display: flex;
            justify-content: center;
        }
            [class$='link']{
                padding: 10px;
                margin: 5px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                background-color: azure;
                box-shadow: 0 0 3px rgba(0, 0, 0, 10);
            }
                [class$='link']:hover{
                    background-color: cadetblue;
                    color: white;
                }

    
    .container-body{
        background-color: aliceblue;
        width: auto;
        margin: 0;
        padding: 0;
    }            
        .container-projetos, .container-sobre, .container-contatos, .container-footer{
            width: 100%;
            text-align: center;
            background-image: url('https://img.reintech.io/variants/mcfrgmq8lph9895vth2vpwxpbc97/e7b4ce09c703210ab8f75b017c7eaf0951c5a95b737ee8120602845c1c1d944b');
            background-size: cover;
            margin: 5px 0px 5px 0px;
            font-size: 14px;
        }
        .container-sobre{            
            text-align: justify;
            font-size: 14px;
        }
        .container-background{
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 3px;
            padding: 20px;
            margin: 0;
        }
            #projetos-list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
                padding: 20px;
                margin: 0;
            }                
            .card {
                background-color: rgba(220, 220, 220, 0.6);
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
                padding: 15px;
                text-align: left;
                transition: transform 0.2s;
                width: 300px;
                border-top: 10px dotted black;
                font-size: 14px;
            }
                .container-card{
                    display: flex;
                    flex-direction: row;
                }
                
            .card:hover {
                transform: scale(1.02);
                background-color: rgba(150, 231, 255, 0.5);
            }
            .card-tecnologias{
                color: brown;
                text-align: end;
            }
